<% provide(:title, 'Подать объявление') %>
<div class="span10 myform">
    <%= form_for @ad, :as => :post, :url => ads_path, :html => {:class => "well"} do |f| %>
			<%= render 'shared/error_messages' %>
			<div>
			<%= f.label :title, 'Заголовок' %>
      <%= f.text_field :title %>
      <%= f.label :description, 'Описание' %>
      <%= f.text_area :description, :rows => 7 %>
			</div>			

			<div class="form-inline glow1">
			<%= f.radio_button :deal, 'rent' %> 
			<%= label :post_deal, :rent, 'Аренда' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :deal, 'sale' %>
			<%= label :post_deal, :sale, 'Продажа' %>
			</div>

			<div class="form-inline glow">
			<%= f.radio_button :owner, 'person' %> 
			<%= label :post_owner, :person, 'Частное лицо' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :owner, 'agency' %>
			<%= label :post_owner, :agency, 'Агентство (Субаренда)' %>
			</div>

			<div class="form-inline">
			<%= f.radio_button :real_estate, 'apartment' %> 
			<%= label :post_real_estate, :apartment, 'Квартира' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :real_estate, 'condo' %>
			<%= label :post_real_estate, :condo, 'Комната' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :real_estate, 'premises' %>
			<%= label :post_real_estate, :premises, 'Помещение' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :real_estate, 'house' %> 
			<%= label :post_real_estate, :house, 'Дом' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :real_estate, 'site' %> 
			<%= label :post_real_estate, :site, 'Участок' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :real_estate, 'garage' %>
			<%= label :post_real_estate, :garage, 'Гараж' %>
			</div>

			<div class="form-inline glow">
			<%= f.radio_button :purpose, 'office' %> 
			<%= label :post_purpose, :office, 'Офис' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :purpose, 'trade' %>
			<%= label :post_purpose, :trade, 'Торговля' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :purpose, 'service' %>
			<%= label :post_purpose, :service, 'Сфера услуг' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :purpose, 'warehouse' %> 
			<%= label :post_purpose, :warehouse, 'Склад' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :purpose, 'industry' %> 
			<%= label :post_purpose, :industry, 'Производство' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :purpose, 'multipurpose' %>
			<%= label :post_purpose, :multipurpose, 'Различного назначения' %>
			</div>

			<br />			

			<div class="form-inline">
			<%= f.label :area, "Площадь" %>:
			<%= f.text_field :area %>&nbsp;&nbsp;&nbsp;

			<%= f.label :floor, "Комнат" %>:
			<%= f.text_field :floor %>&nbsp;&nbsp;&nbsp;

			<%= f.label :rooms_number, "Этаж" %>:
			<%= f.text_field :rooms_number %>&nbsp;&nbsp;&nbsp;
			</div>

			<br />

			<div class="form-inline">
			<%= f.check_box :water %>
			<%= label :post, :water, "Вода" %>&nbsp;&nbsp;&nbsp;

			<%= f.check_box :light %>
			<%= label :post, :light, "Свет" %>&nbsp;&nbsp;&nbsp;

			<%= f.check_box :bathroom %>
			<%= label :post, :bathroom, "Туалет" %>&nbsp;&nbsp;&nbsp;

			<%= f.check_box :heating %>
			<%= label :post, :heating, "Отопление" %>
			</div>

			<div class="form-inline">
			<%= f.select(:region, [['Lisbon', 1], ['Madrid', 2]]) %>&nbsp;&nbsp;&nbsp;
			<%= f.select(:city, [['Lisbon', 1], ['Madrid', 2]]) %>
			</div>

			<br />

			<div class="form-inline">
			<%= label :heating, "Фото" %>
  		<%= f.file_field :picture %>
			</div>



			<br />

			<div class="form-inline">
      <%= f.submit "Отправить", class: "btn btn-large" %>&nbsp;&nbsp;&nbsp;
			<input type="reset" value="Сброс">
			</div>

    <% end %>
</div>












