<% provide(:title, 'Подать объявление') %>

<div class="myform">
    <%= form_for @ad, :as => :post, :url => ads_path, :html => {:class => "well"}, :remote => true do |f| %>
			<%= render 'shared/error_messages' %>
			
			<div class="title_description">
			<%= f.label :title, "Заголовок #{show_errors(@ad, :title)}" %>
      <%= f.text_field :title %><br/>
      <%= f.label :description, "Описание #{show_errors(@ad, :description)}" %>
      <%= f.text_area :description, :rows => 7 %>
			</div>	

<div class="buttons">
			<div class="radio_button">
			<%= f.radio_button :deal, 'rent' %> 
			<%= label :post_deal, :rent, 'Аренда' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :deal, 'sale' %>
			<%= label :post_deal, :sale, 'Продажа' %>
			</div>

			<div class="radio_button">
			<%= f.radio_button :owner, 'person' %> 
			<%= label :post_owner, :person, 'Собственность' %>&nbsp;&nbsp;&nbsp;
			<%= f.radio_button :owner, 'agency' %>
			<%= label :post_owner, :agency, 'Агентство (Субаренда)' %>
			</div>

			<div class="check_box">
			<%= f.check_box :water %>
			<%= label :post, :water, "Вода" %>&nbsp;&nbsp;&nbsp;

			<%= f.check_box :light %>
			<%= label :post, :light, "Свет" %>&nbsp;&nbsp;&nbsp;

			<%= f.check_box :bathroom %>
			<%= label :post, :bathroom, "Туалет" %>&nbsp;&nbsp;&nbsp;

			<%= f.check_box :heating %>
			<%= label :post, :heating, "Отопление" %>
			</div>
</div>
<br />
			<%= f.select(:real_estate, [ ['Тип едвижимости', 0], ['Квартира', 1], ['Комната', 2], ['Помещение', 3], ['Дом', 4], ['Участок', 5], ['Гараж', 6] ],:selected => 0 ) %>
			<%= f.select(:purpose, [ ['Назначение', 0], ['Офис', 1], ['Торговля', 2], ['Сфера услуг', 3], ['Склад', 4], ['Производство', 5], ['Различного назначения', 6] ],:selected => 0 ) %>

			<div class="form_numbers">
<table>
		<tr><td>
			<%= f.label :area, "Площадь" %>:
			<%= f.text_field :area %></td>
		<td>
			<%= f.label :price, "Цена" %>:
			<%= f.text_field :price %></td>
		<td>
			<%= f.label :floor, "Комнат" %>:
			<%= f.text_field :floor %></td>
		<td>
			<%= f.label :rooms_number, "Этаж" %>:
			<%= f.text_field :rooms_number %>
		</td></tr>
</table>
			</div>

<br />

			<div class="form-inline pics">
			<%= label :heating, "Фото:" %>
  		<%= f.file_field :picture %>
			</div>


			<br />




			<%= render "shared/new_user_fields" %>

			<div class="form-buttons">
      <%= f.submit "Отправить", class: "btn btn-large" %>
			<input type="reset" value="Сброс">
			</div>

    <% end %>

</div>

		<script>
		$(document).ready(function(){
			$("#post_purpose, #post_real_estate").hover(function() {
				$("#post_real_estate option[value='0']").hide();
				$("#post_purpose option[value='0']").hide();
			});
		});
		</script>









