<% provide(:title, @ad.title) %>

<div class="prettyback">

<h1><%= @ad.title %></h1>
<%= @ad.description %>
<%= @ad.owner %>
<%= @ad.deal %>
<%= @ad.real_estate %>
<%= @ad.purpose %>
<%= @ad.area %>
<%= @ad.floor %>
<%= @ad.rooms_number %>
<%= @ad.water %>
<%= @ad.light %>
<%= @ad.bathroom %>
<%= @ad.heating %>
<%= @ad.image %>
<%= @ad.region %>
<%= @ad.city %>
<%= @ad.updated_at  %>

</div>



















