<%= fields_for(@user) do |f| %>
		<div class="non-block regestry">
				<div class="target">
				<%= f.label :name %>
		    <%= f.text_field :name %>
				</div>
				<div class="target">
				<%= f.label :phone, "Phone" %>
		    <%= f.password_field :phone %>
				</div>
				<div class="target">
		    <%= f.label :email %>
		    <%= f.text_field :email %>
				</div>
				<div class="target">
		    <%= f.label :password %>
		    <%= f.password_field :password %>
				</div>
				<div class="target">
		    <%= f.label :password_confirmation, "Confirmation" %>
		    <%= f.password_field :password_confirmation %>
				</div>	
		</div>
<% end %>

